@import "tailwindcss";

body {
  background-color: #0f172a; 
  color: #f8fafc; 
}
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar everywhere */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
  /* 🔥 THIS FIXES VERTICAL BAR */
}